@media screen and (min-width:480px){					/* 设备为屏幕且最小宽度大于480px */
 
	/* **************************************
	TWO COLUMN LAYOUT
	************************************** */
	#pramary{
		width:50%;
		float:left;
	}
	
	#secondary{
		width:40%;
		float:right;
	}

	/* **************************************
	PAGE VIDO
	************************************** */
	#gallery li{
		width:28.3333%;
	}
 
	/* **************************************
	PAGE ABOUT
	************************************** */
	.profile-photo{
		float:left;
		margin:0 5% 80px 0;
	}


}


@media screen and (min-width:660px){
 
}